.cont-about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}
.h1-presentacion{
    max-width: 420px;
    font-size: 32px;
}
.img-i{
    width: 300px;
    border-radius: 50%;
}